footer {
    /* Layout */
    margin-top: -20rem;
    clear: both;
    background-color: black;
    height: 15vw;
    text-align: center;
    padding: 7.2%;

    h4 {
        color: white;
        font-size: 2rem;
    }
}